.plotBox.box {
    z-index: 0;
    position: fixed;
    bottom: 30px;
    left: 20px;
    width: 375px;
    height: 375px;
    border-radius: 16px;
    background: rgba(18, 16, 15, 0.6);
    box-shadow: 0px 0px 150px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(16px);
  }
  
  .plotBox.body {
    color: white;
    font-family: Verdana, sans-serif;
  }
  
  .plotBox.structure {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 15px;
  }
  
  .plotBox.info {
    width: fit-content;
    font-size: 2vh;
    display: absolute;
    padding-left: 25%;
  }
  
  .plotBox.image {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: block;
    width: 100%;
    height: 50%;
  }
  
  @media (max-width: 700px) {
    .plotBox.plotBox {
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 25%;
    }
  
    .plotBox.image {
      border-top-left-radius: 0px;
      border-top-right-radius: 16px;
      height: 100%;
      width: 50%;
      display: inline-flex;
      float: right;
    }
  
    .plotBox.structure {
      padding-top: 5vh;
    }
  }
