.game.overlay {
    background-color: red;
    height          : 100%;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    background      : radial-gradient(circle at top, rgba(19, 4, 0, 0.836) 0%, rgba(19, 4, 0, 0.007) 100%);
}

.game.title {
    margin : 64px auto 0;
    padding: 30px 45px;
}

.game.colonies {
    display  : flex;
    flex-wrap: wrap;
    height   : 100%;
    width    : 100%;
}

.game.colony.box {
    font-family     : Verdana, Sans-Serif;
    color           : #1d1c1b;
    background-color: rgba(196, 184, 174, 0.55);
    backdrop-filter : blur(8px);
    height          : fit-content;
    margin          : 16px;
    border          : none;
    border-radius   : 20px;
    padding         : 16px;
    cursor          : pointer;
    flex-grow       : 1;
    flex-shrink     : 1;
    flex-basis      : 1;
}

.game.colony.box.create {
    flex-grow       : 0;
    flex-shrink     : 1;
    flex-basis      : 1;
    background-color: rgba(206, 174, 85, 0.55);
}

h2.game.colony {
    font-family: Verdana, Sans-Serif;
    color      : #1d1c1b;
    font-size  : 20px;
}

.game.colony.content {
    font-family: Verdana, Sans-Serif;
    text-align : justify;
    color      : #141414;
    font-size  : 16px;
    width      : fit-content;
    margin     : 10px auto 5px;
}

.game.register.box {
    width: 400px;

    margin         : auto;
    border-radius  : 16px;
    background     : rgba(49, 44, 42, 0.6);
    box-shadow     : 0px 0px 150px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(16px);
}

h1.game {
    font-family: Verdana, sans-serif;
    font-style : normal;
    font-weight: bold;
    font-size  : 35px;
    color      : #F3F2ED;
}

.game.text {
    font-family: Verdana, sans-serif;
    font-style : normal;
    font-size  : 15px;
    color      : #F3F2ED;
}

.game.register.element {
    margin: 25px;
}




/* form starting stylings ------------------------------- */
.game.register.group {
    position   : relative;
    margin     : 35px 0 20px;
    font-family: Verdana, sans-serif;
}

input.game.register {
    font-size       : 18px;
    padding         : 10px 10px 10px 5px;
    display         : block;
    width           : 80%;
    border          : none;
    background-color: transparent;
    margin          : auto;
    border-bottom   : 1px solid #f4e9cbc0;
}

input.game.register:focus {
    outline: none;
}

/* LABEL ======================================= */
label.game.register {
    margin-left       : 20%;
    color             : #F4E9CB;
    font-size         : 18px;
    font-weight       : normal;
    position          : absolute;
    pointer-events    : none;
    left              : 5px;
    top               : 5px;
    transition        : 0.2s ease all;
    -moz-transition   : 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input.game.register:focus~label,
input.game.register:valid~label {
    top      : -15px;
    font-size: 14px;
    color    : #F4E9CB;
}

/* BOTTOM BARS ================================= */
.game.register.bar {
    margin  : auto;
    position: relative;
    display : block;
    width   : 80%;
}

.game.register.bar:before,
.game.register.bar:after {
    content           : '';
    height            : 2px;
    width             : 0;
    bottom            : 1px;
    position          : absolute;
    background        : #F4E9CB;
    transition        : 0.2s ease all;
    -moz-transition   : 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.game.register.bar:before {
    left: 50%;
}

.game.register.bar:after {
    right: 50%;
}

/* active state */
input.game.register:focus~.bar:before,
input.game.register:focus~.bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.game.register.highlight {
    position      : absolute;
    height        : 60%;
    width         : 25%;
    top           : 25%;
    left          : 0;
    pointer-events: none;
    opacity       : 0.3;
}

/* active state */
input.game.register:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation   : inputHighlighter 0.3s ease;
    animation        : inputHighlighter 0.3s ease;
}



/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #F4E9CB;
    }

    to {
        width     : 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #F4E9CB;
    }

    to {
        width     : 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #F4E9CB;
    }

    to {
        width     : 0;
        background: transparent;
    }
}

.game.register.buttons {
    display         : flex;
    justify-content : center;
}

button.game.register {
    font-family: Verdana, sans-serif;
    font-style : normal;
    font-size  : 15px;
    color      : #F4E9CB;
    background : #1d1c1b;
    border     : none;
    border-radius: 16px;
    padding    : 10px;
    margin : 10px 8% 22px 5%;
    cursor     : pointer;
}

button.game.register.disabled {
    color      : #f4e9cb8f;
    background : #1d1c1b8f;
    cursor     : default;
}