.box {
    z-index        : 2;
    position       : fixed;
    top            : 100px;
    left           : calc(50% - 290px);
    padding        : 0px 26px;
    width          : 580px;
    max-height     : 400px;
    overflow       : auto;
    border-radius  : 14px;
    background     : rgba(49, 44, 42, 0.4);
    box-shadow     : 0px 0px 150px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(16px);
}


.box::-webkit-scrollbar {
    width: 16px;
}

.box::-webkit-scrollbar-track {
    background-color: #2A2A2A;
    border-radius   : 8px;
}

.box::-webkit-scrollbar-thumb {
    background-color: #4B4B4B;
    border-radius   : 8px;
}

@media (max-width: 600px) {
    .box {
        max-width: 100%;
        left     : 0;
    }
}