.box {
    height       : 26px;
    width        : 26px;
    border-radius: 12px;
    display      : flex;
    align-items  : center;
    cursor       : default;
}

.msg {
    display    : none;
    font-family: 'Readex Pro', Verdana, sans-serif;
    font-size  : 14px;
    color      : #292826;
}

.msg_spinner {
    margin-left: -16px;
    display    : none;
    font-family: 'Readex Pro', Verdana, sans-serif;
    font-size  : 14px;
    color      : #292826;
}

.icon {
    margin-left: -4px;
    width      : 26px;
    height     : 26px;
}

.icon_accepted {
    color: #7BCE83;
}

.icon_rejected {
    color: #e68282;
}

.icon_pending {
    color: #eeb97d;
}



.box:hover {
    padding: 13px 5px 13px 4px;
    width  : fit-content;
}

.box_accepted:hover {
    background-color: #7BCE83;
}

.box_rejected:hover {
    background-color: #e68282;
}

.box_pending:hover {
    background-color: #eeb97d;
}

.box:hover .icon {
    color : #292826;
    height: 22px;
}

.box:hover .msg {
    display: block;
}

.box:hover .msg_spinner {
    display: block;
}

.spinner_base {
    margin-top: 5px;
    height    : 18px;
}

.spinner_hidden {
    display    : none;
    margin-top : 2px;
    margin-left: -24px;
    height     : 18px;
}

.box:hover .spinner_hidden {
    display: block;
}