.box {
    flex-grow    : 1;
    flex-shrink  : 1;
    flex-basis   : 0;
    min-width    : 230px;
    padding      : 12px 25px;
    border-radius: 12px;
    color        : #ecebe5;
    font-family  : 'Readex Pro', Verdana, sans-serif;
    font-size    : 14px;
    margin       : 3%;
    cursor       : pointer;
}

.title {
    color        : #F3F2ED;
    font-family  : 'Readex Pro', Verdana, sans-serif;
    font-size    : 18px;
    font-weight  : bold;
    margin-bottom: 2px;
}

.footer {
    margin-top: 4px;
    display   : flex;
}

.icon_container {
    height     : 26px;
    display    : flex;
    align-items: center;
}

.icon_text {
    display     : none;
    margin-right: 8px;
}

.icon_container:hover .icon_text {
    display: block;
}

.icon {
    width       : 26px;
    height      : 26px;
    margin-right: 4px;
}

.icon_container:hover .icon {
    height: 22px;
}

.icon_container:hover {
    background-color: #ecebe5;
    border-radius   : 12px;
}