.nav {
    z-index        : 1;
    position       : fixed;
    left           : calc(50% - 281px);
    width          : 600px;
    height         : 60px;
    border-radius  : 0px 0px 16px 16px;
    background     : rgba(49, 44, 42, 0.6);
    box-shadow     : 0px 0px 150px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(16px);
}

.game_nav {
    z-index        : 1;
    position       : fixed;
    left           : calc(50% - 330px);
    width          : 660px;
    height         : 60px;
    border-radius  : 0px 0px 16px 16px;
    background     : rgba(49, 44, 42, 0.6);
    box-shadow     : 0px 0px 150px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(16px);
}

.icons {
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-top     : -10px;
}

@media (max-width: 700px) {
    .nav {
        width        : 100%;
        left         : 0px;
        border-radius: 0px 0px 12px 12px;
    }

    .button_text {
        display: none;
    }

    .icons {
        margin-top: 0;
        height    : 100%;
    }
}

.logo {
    cursor: pointer;
    width : 90px;
    margin: 4px 20px 0px 4px;
}

.icon {
    width  : 25px;
    margin : 27px 18px 25px 18px;
    display: inline-flex;
}

.button {
    text-decoration: none;
}

.button.normal {
    color: #F3F2ED;
}

.button.sound {
    margin-left: -4px;
}

.button.highlighted {
    color: #F4E9CB;
}

.button.error {
    color: #e17055;
}

.button_text {
    font-family   : 'Readex Pro', Verdana, sans-serif;
    letter-spacing: 0.05em;
    font-size     : 16px;
    margin-top    : 30px;
    margin-left   : -8px;
    margin-right  : 16px;
}

.button_div {
    display : inline-flex;
    position: relative;
}

.button {
    background-color: transparent;
    border          : none;
    cursor          : pointer;
}