.box {
    width              : 280px;
    height             : 400px;
    bottom             : 30px;
    left               : 30px;
    position           : fixed;
    border-radius      : 16px;
    background-size    : cover;
    background-position: center;
    display            : flex;
    flex-direction     : column-reverse;
    box-shadow         : 0px 0px 32px 1px #140b057e;
    justify-content    : space-between;

}

.close {
    height: 24px;
    color : #F5F4F0F0;
    margin: 10px 10px auto auto;
    filter: drop-shadow(1px 1px 12px #140b05);
}

.close:hover {
    cursor: pointer;
}

.coast_bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0),
            rgb(31, 20, 16)), url("/illustrations/coast.webp");
}

.desert_bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0),
            rgb(27, 20, 14)), url("/illustrations/desert.webp");
}

.forest_bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0),
            rgb(27, 20, 14)), url("/illustrations/forest.webp");
}

.plain_bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0),
            rgb(27, 20, 14)), url("/illustrations/plain.webp");
}


.jungle_bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0),
            rgb(27, 20, 14)), url("/illustrations/jungle.webp");
}

.iceberg_bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0),
            rgb(14, 23, 27)), url("/illustrations/iceberg.webp");
}

.mountain_bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0),
            rgb(27, 20, 14)), url("/illustrations/mountain.webp");
}

.ocean_bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0),
            rgb(14, 23, 27)), url("/illustrations/ocean.webp");
}

.box_content {
    vertical-align: bottom;
    height        : fit-content;
    width         : fit-content;
    user-select: none;
}

.title {
    color      : #F5F4F0;
    font-family: 'Readex Pro', Verdana, sans-serif;
    font-weight: bold;
    font-size  : 26px;
    margin     : 12px 20px;
}

.item {
    color      : #F3F2ED;
    font-family: 'Readex Pro', Verdana, sans-serif;
    font-size  : 15px;
    margin     : 4px 36px;
}

.bg_text {
    color: #d4d3cbb4;
}

.fg_text {
    color: #ffe1a9;
}

.item_title {
    font-weight: bold;
}

.buttons {
    display        : flex;
    justify-content: center;
    margin         : 12px;
}

.button {
    background-color: #ffe1a9;
    color           : #232020;
    font-family     : 'Readex Pro', Verdana, sans-serif;
    font-size       : 14px;
    padding         : 10px;
    border-radius   : 12px;
    margin          : 7px;
    cursor          : pointer;
}

.button:hover {
    background-color: #fae2b6;
    color           : #524635;
}