.discover.punchline {
  background: #312E2A;
  border-radius: 12px;
  height: 500px;
  width: 600px;
  position: absolute;
  bottom: 50px;
  left:50px;
}

.discover.page1 {
  display: inline;
}

.test {
  color:white;
  font-size: 50px;
}

 .discover.page1 {
  overflow: auto;
  white-space: nowrap;
}

