.discover.bigcard {
  margin-top   : 20px;
  margin-right : 20px;
  background   : #312E2A;
  border-radius: 12px;
  height       : 500px;
  width        : 600px;
  bottom       : 150px;
  left         : 180px;
  box-shadow   : 0px 0px 150px rgba(0, 0, 0, 0.25);
}

.discover.bigcard h1 {
  font-family: Verdana, sans-serif;
  font-style : normal;
  font-weight: bold;
  font-size  : 35px;
  padding    : 30px 45px;
  color      : #FFFFFF;
}

.discover.bigcard p {
  font-family   : Verdana, sans-serif;
  font-style    : normal;
  font-size     : 15px;
  letter-spacing: 1px;
  padding       : 30px 45px;
  color         : #FFFFFF;
  line-height   : 20px;
}

.discover.card {
  margin-top     : 20px;
  width          : 600px;
  height         : 240px;
  right          : 200px;
  bottom         : 410px;
  display        : flex;
  background     : rgba(87, 85, 78, 0.212);
  box-shadow     : 0px 0px 150px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  border-radius  : 22px;
}

.discover.card h1 {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size  : 28px;
  padding    : 22px;
  color      : #FFFFFF;
}

.discover.card p {
  font-family   : Verdana, sans-serif;
  font-style    : normal;
  font-size     : 16px;
  letter-spacing: 2px;
  padding       : 1px 25px;
  color         : #FFFFFF;
  line-height   : 20px;
}

.discover.card img {
  border-radius: 0px 22px 22px 0px;
}

.mask1 {
  height   : 100%;
  clip-path: circle(150% at 150% 25%);
}

.mask2 {
  height   : 100%;
  clip-path: circle(150% at 150% 75%);
}

.discover.bottom_line {
  position        : absolute;
  width           : 500px;
  bottom          : 25px;
  left            : 50%;
  transform       : translate(-50%);
  backdrop-filter : blur(25px);
  height          : 5px;
  background-color: rgba(211, 205, 198, 0.2);
}

.discover.bottom_line_content.contener {
  position : absolute;
  bottom   : 25px;
  left     : 50%;
  transform: translate(-50%);

}

.discover.bottom_line_content.circle1 {
  width           : 35px;
  height          : 35px;
  background-color: rgb(219, 219, 219);
  border-radius   : 90px;
  display         : inline-flex;
  margin          : 0 0 -17.5px 0;
}

.discover.bottom_line_content.circle {
  width           : 20px;
  height          : 20px;
  background-color: rgb(158, 158, 158);
  border-radius   : 90px;
  display         : inline-flex;
  margin          : 0 0 -10px 105px;
}