.cell_card {
  z-index: 0;
  position: fixed;
  bottom: 30px;
  left: 20px;
  width: 30%;
  height: 25%;
  border-radius: 16px;
  background: rgba(18, 16, 15, 0.6);
  box-shadow: 0px 0px 150px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(16px);
}

@media (min-width: 768px) {
    .cell_card {
      width: 280px;
      height: 250px;
    }
  }

.cell_card_body {
    padding: 2vh;
    text-align: center;
    color : white;
    font-family: Verdana, sans-serif;
}
