canvas.cursorCanvas {
    width          : 100%;
    height         : 100%;
    display        : block;
    position       : fixed;
    top            : 0;
    left           : 0;
    z-index        : 0;
    image-rendering: smooth;
  }