.wrapper {
    display: table;
    height : calc(100% - 70px);
    width  : 100%;
}

.page1 {
    display        : flex;
    justify-content: center;
    align-items    : center;
    height         : 100%;
}

.page1 {
    display        : flex;
    justify-content: center;
    align-items    : center;
    height         : 100%;
    width          : 100%;
    position       : relative;
}

.in_left {
    -webkit-animation         : ease-out;
    -webkit-animation-name    : in_left;
    -webkit-animation-duration: .45s;
}

@-webkit-keyframes in_left {
    0% {
        opacity: 0;
        left   : -100%;
    }

    100% {
        opacity: 1;
        left   : 0;
    }
}

.in_right {
    -webkit-animation         : ease-out;
    -webkit-animation-name    : in_right;
    -webkit-animation-duration: .45s;
}

@-webkit-keyframes in_right {
    0% {
        opacity: 0;
        left   : 100%;
    }

    100% {
        opacity: 1;
        left   : 0;
    }
}

.cards {
    display        : flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top     : 90px;
}

.bigcard {
    margin-bottom: 30px;
    margin-right : 30px;
    background   : #312E2A;
    border-radius: 12px;
    width        : 600px;
    box-shadow   : 0px 0px 150px rgba(0, 0, 0, 0.25);
}

.bigcard a {
    color: #FFFFFF;
}

@media (max-width: 1240px) {
    .cards {
        cursor        : default;
        align-items   : center;
    }

    .bigcard {
        margin-right: 0px;
    }
}

.bigcard h1 {
    font-family: 'Readex Pro', Verdana, sans-serif;
    font-style : normal;
    font-weight: 700;
    font-size  : 35px;
    padding    : 30px 28px;
    color      : #FFFFFF;
}

.bigcard p {
    font-family: 'Readex Pro', Verdana, sans-serif;
    font-style : normal;
    font-size  : 17.5px;
    padding    : 0px 28px 28px 28px;
    color      : #FFFFFF;
    line-height: 20px;
}

.card {
    margin-bottom  : 30px;
    width          : 600px;
    height         : 240px;
    display        : flex;
    background     : rgba(87, 85, 78, 0.212);
    box-shadow     : 0px 0px 150px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    border-radius  : 22px;
}

.card h1 {
    font-family: 'Readex Pro', Verdana, sans-serif;
    font-weight: bold;
    font-size  : 28px;
    padding    : 22px;
    color      : #FFFFFF;
}

.card p {
    font-family  : 'Readex Pro', Verdana, sans-serif;
    font-style   : normal;
    font-size    : 17.5px;
    padding      : 1px 25px;
    color        : #FFFFFF;
    line-height  : 20px;
    margin-bottom: 20px;
}

.card a {
    color: #FFFFFF;
}

.card img {
    border-radius: 0px 22px 22px 0px;
}

.mask1 {
    height   : 100%;
    clip-path: circle(154% at 155% 35%);
}

.mask2 {
    height   : 100%;
    clip-path: circle(154% at 155% 65%);
}

.vertical_card {
    margin  : 0px 15px 30px 15px;
    width          : 300px;
    height         : 500px;
    display        : flex;
    flex-direction: column-reverse;
    background-position  : center;
    background-repeat    : no-repeat;
    background-size      : cover;
    box-shadow     : 0px 0px 150px rgba(0, 0, 0, 0.25);
    border-radius  : 22px;
}

.bg_merchant {
    background-image     : linear-gradient(rgba(0, 0, 0, 0),
    rgb(27, 20, 14)), url("/illustrations/warrior1.webp");
}

.bg_diplomat {
    background-image     : linear-gradient(rgba(0, 0, 0, 0),
    rgb(27, 20, 14)), url("/illustrations/warrior2.webp");
}

.bg_warlord {
    background-image     : linear-gradient(rgba(0, 0, 0, 0),
    rgb(27, 20, 14)), url("/illustrations/warrior2.webp");
}

.vertical_card h1 {
    font-family: 'Readex Pro', Verdana, sans-serif;
    font-weight: bold;
    font-size  : 28px;
    padding    : 30px 30px 14px 30px;
    color      : #FFFFFF;
}

.vertical_card p {
    font-family  : 'Readex Pro', Verdana, sans-serif;
    font-style   : normal;
    font-size    : 17.5px;
    padding      : 1px 30px;
    color        : #FFFFFF;
    line-height  : 20px;
    margin-bottom: 20px;
}

.vertical_card img {
    border-radius: 22px 22px 0px 0px;
    width        : 100%;
    height       : 100%;
}

.vertical_content {
    height: 46%;
}

.vertical_mask1 {
    width   : 100%;
    clip-path: circle(104% at 50% 50%);
}

@media (min-width: 1920px) {
    .bigcard {
        margin-bottom: 3vw;
        margin-right : 3vw;
    }

    .card {
        margin-bottom: 3vw;
    }
}

@media (max-width: 620px) {

    .bigcard {
        width: 100%;
    }

    .card {
        width         : 100%;
        height        : initial;
        flex-direction: column;
    }

    .card img {
        object-fit   : cover;
        width        : 100%;
        height       : 356px;
        border-radius: 0px 0px 22px 22px;
    }

    .mask1 {
        clip-path: none;
    }

    .mask2 {
        clip-path: none;
    }

}