.overlay {
    height           : 100%;
    display          : flex;
    flex-direction   : column;
    justify-content  : center;
    background       : radial-gradient(circle at top, rgba(19, 4, 0, 0.836) 0%, rgba(19, 4, 0, 0.007) 100%);
    animation        : fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation   : fadeIn 1s;
    -o-animation     : fadeIn 1s;
    -ms-animation    : fadeIn 1s;
}

.screen {
    pointer-events: none;
    height        : 100%;
    width         : 100%;
    position      : absolute;
}

.interactive {
    pointer-events: auto;
    height        : 100%;
    width         : 100%;
    position      : absolute;
    z-index       : 1;
}

.loading {
    height: 96px;
    width : 96px;
    margin: 32px auto;
}

.fadeIn {
    animation        : fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation   : fadeIn 1s;
    -o-animation     : fadeIn 1s;
    -ms-animation    : fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}