.map {
  width          : 100%;
  height         : 100%;
  background-color: #2e515c;
  display        : block;
  position       : fixed;
  top            : 0;
  left           : 0;
  z-index        : -1;
  image-rendering: smooth;
}