.header {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -24px;
    margin-right: -30px;
}

.close {
    height: 24px;
    color : #F5F4F0F0;
    margin-right: 10px;
    filter: drop-shadow(1px 1px 12px #140b05);
}

.close:hover {
    cursor: pointer;
}

.text {
    font-family: 'Readex Pro', Verdana, sans-serif;
    font-style : normal;
    font-size  : 16px;
    color      : #e7e6df;
}