.footer {
    width     : 100%;
    height    : fit-content;
    margin-top: 24px;

    margin-bottom  : -14px;
    display        : flex;
    align-content  : space-between;
    justify-content: space-between;
}

.button {
    cursor          : pointer;
    background-color: #353A3F;
    color           : #E6EBF2;
    font-family     : 'Readex Pro', Verdana, sans-serif;
    font-style      : normal;
    font-size       : 14px;
    display         : flex;
    padding         : 6px;
    border-radius   : 12px;
}

.button_left_icon {
    color       : #E6EBF2;
    margin-right: 4px;
    height      : 18px;
}

.button_right_icon {
    color      : #E6EBF2;
    margin-left: 4px;
    height     : 18px;
}